


@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.bigContainer{
  min-height: 100vh;
  background-image: url('../img/bigBG.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
}
.top{

  margin-top: 70pt;

  background-color: white;
}

    .cta-nav{
        border: 3px solid #f25f21;
        background: white;
        border-radius: 7.55px;
        a{
          font-family: GothamHTF-Bold;
          font-size: 11.34px;
          color: #f25f21;

          letter-spacing: 4.05px;
        }
    }

    button:hover, button:focus, .button:hover, .button:focus {
        background-color: #f25f21;
        a{
          color: white;

        }
    }

.section{
  width: 100%;
  background-color: #f25f21;
  height: 1000px;
  transform:skewY(20deg);
  margin-top: 100pt;

      h1, img{
        transform:skewY(-20deg);
        text-align: center;
      font-family: GothamHTF-Bold;
      font-size: 58px;
      color: #FFFFFF;
      letter-spacing: 10px;
        span.orange{color: #f25f21}

      }
      img{
        margin: 0 auto;
        bottom: 0;
        position: fixed;
        width: 20%;

      }

}
